.App{
  margin: 0%;
}
.navBar{
  z-index: 10;
}

.footerLinks{
  color:#dcdcdb
}
.footerLinks:hover{
  color: #FFC42D;
}
.navLinks{
  color:#ffffff
}

.navLinks:hover{
  color:#FFC42D
}

.productCard{
  background-color: #ebece9;
  width: 330px;
}
.productCard:hover{
  background-color: #d4d4d4;
}